<!DOCTYPE html>
<html>
<head>
  <title>BeerApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<%= render partial: "/shared/user_nav" %>
<% else %>
	<%= render partial: "/shared/non_user_nav" %>
<% end %>

<%= yield %>

</body>
</html>
